.container {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  max-width: 1200px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
  margin: 0 auto;
}

.content {
  flex-grow: 1;
  margin-left: 20px;
}

.sidebar {
  flex: 0 0 250px;
}
