.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.modal {
  width: 570px;
  height: 600px;
  padding: 60px 50px;
  background-color: #fff;
  position: relative;
  box-shadow: 0 0 5px 1px #aaa;
  left: 50%;
  transform: translateX(-50%);
  outline: none;
  text-align: center;
}

.modalWithMainImage {
  padding-top: 90px;
}

.modalBackdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 15% 10px 10px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background-color: #bbbb;
  overflow-y: auto;
}

.modalCloseButton {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 10px;
  right: 10px;
  background: none;
  border-radius: 100%;
  cursor: pointer;
  outline: none;
}

@media (max-width: 768px) {
  .modal {
    width: 100%;
    height: auto;
    min-height: 100%;
  }

  .modalBackdrop {
    padding-top: 10px;
  }

  .modalBackdropWithMainImage {
    padding-top: 90px;
  }

  .modalWithMainImage {
    padding-top: 90px;
  }
}
