.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 64px;
  min-height: 36px;
  border: none;
  outline: none;
  padding: 0px 16px;
  border-radius: 2px;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 400;
  background-color: #212121;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  font-family: Roboto, sans-serif;
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
  overflow: hidden;
  vertical-align: middle;
}

.button:hover,
.button:focus {
  background-color: #0388ca;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.primary {
  background-color: #039be5;
}

.primary:hover {
  background-color: #1976d2;
}

.save {
  background-color: #ee6337;
}

.save:hover {
  background-color: #c5502e;
}


