.wrapper {
  overflow: hidden;
  box-shadow: 0 0 5px 1px #aaa;
}

.image {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.roundImage {
  border-radius: 100%;
}

.modalMainImage {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
